# Airplane Wildlife Strikes
Codecademy Portfolio Project by Leah Fulmer ([Github](https://github.com/leahmfulmer), [Tableau](https://public.tableau.com/app/profile/leahmfulmer/vizzes))<br>
With gratitude to Divya Bharathi ([Tableau](https://public.tableau.com/app/profile/divya.bharathi/vizzes))

#### Project Objectives:

* Explore a given data set.
* Form questions for analysis.
* Create several visualizations.
* Combine visualizations in a Tableau Dashboard.
* Present interactive visual dashboard through [Tableau Public](https://public.tableau.com/app/profile/leahmfulmer/viz/AirplaneWildlifeStrikes_17192619610850/AirplaneWildlifeStrikes).

#### Table of Contents :
[Section 1: Loading and Examining the Data](#data)<br>
[Section 2: Wrangling and Tidying the Data](#tidy)<br>
[Section 3: Defining Questions for Analysis](#questions)<br>
[Section 5: Answering Some Questions](#answers)<br>
[Section 6: Transitioning to Tableau Public](#tableau)<br>

### Section 1: Loading and Examining the Data <a id="data"></a>

In [1]:
# Import modules

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

# Suppress warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Load data

strikes_0 = pd.read_csv("./datasets/FAA-wildlife-strikes.csv")
print("This dataset contains {} rows and {} columns. \n".format(strikes_0.shape[0], strikes_0.shape[1]))
print("The columns are called ...{}.".format(strikes_0.columns))

This dataset contains 28298 rows and 25 columns.

The columns are called ...Index(['Wildlife: Animal Category', 'Wildlife: Species', 'Record ID',
       'Aircraft: Number of engines', 'Aircraft: Type', 'Airport: Code',
       'Airport: Name', 'Collision Date and Time',
       'Cost: Aircraft time out of service (hours)', 'Cost: Total $',
       'Country', 'Days', 'Effect: Amount of damage (detailed)',
       'Effect: Impact to flight', 'Effect: Indicated Damage',
       'Feet above ground', 'Miles from airport', 'Number of Strikes',
       'Origin State', 'Origin State Code', 'When: Phase of flight',
       'When: Time of day', 'Wildlife: Species Group', 'Wildlife: Species ID',
       'Wildlife: Species Order'],
      dtype='object').

In [3]:
# Examine data

strikes_0.head()

,Wildlife: Animal Category,Wildlife: Species,Record ID,Aircraft: Number of engines,Aircraft: Type,Airport: Code,Airport: Name,Collision Date and Time,Cost: Aircraft time out of service (hours),Cost: Total $,...,Feet above ground,Miles from airport,Number of Strikes,Origin State,Origin State Code,When: Phase of flight,When: Time of day,Wildlife: Species Group,Wildlife: Species ID,Wildlife: Species Order
0,Terrestrial Mammals,Domestic dog,17459,NaN,NaN,AAF,APALACHICOLA REGIONAL ARPT,9/20/2012 19:30,NaN,0,...,0.0,NaN,1,Florida,FL,Take-off run,NaN,"Wolves, Dogs, Foxes, Coyote",1F12,Canids
1,Birds,"Herons, egrets, bitterns",17114,1.0,Airplane,AAF,APALACHICOLA REGIONAL ARPT,4/23/2013 17:09,NaN,0,...,NaN,NaN,1,Florida,FL,Take-off run,NaN,"Herons, Egrets, Bitterns",I1,"Pelicans, Herons, Egrets, Bitterns, Ibises"
2,Birds,American kestrel,259361,2.0,Airplane,ABE,LEHIGH VALLEY INTL,4/23/2009 9:22,720.0,171132,...,0.0,0.0,1,Pennsylvania,PA,Take-off run,Day,"Caracaras, Falcons",K5114,"Caracaras, Falcons"
3,Birds,Mourning dove,345167,2.0,Airplane,ABE,LEHIGH VALLEY INTL,4/13/2014 22:00,15.0,600,...,NaN,NaN,1,Pennsylvania,PA,Approach,Night,Doves,O2205,Pigeons and Doves
4,Birds,Red-tailed hawk,262782,2.0,Airplane,ABE,LEHIGH VALLEY INTL,3/31/2009 18:15,12.0,188245,...,NaN,0.0,1,Pennsylvania,PA,Approach,Day,"Kites, Hawks, Eagles",K3302,"Hawks, Kites, Eagles, Ospreys, Vultures"

**Data Wrangling Tasks:**

* Split date and time to analyze them separately.
* Split date into month, day, and year to group by year.
* The columns of interest to me (in this order) are `Record ID`, `Number of Strikes`, `Collision Date and Time` (after split!), `When: Time of day`, `Aircraft: Type`, `Aircraft: Number of engines`, `Airport: Code`, `Airport: Name`, `Origin State Code`, `Country`, `When: Phase of flight`, `Feet above ground`, `Miles from airport`, `Wildlife: Animal Category`, `Wildlife: Species`, `Effect: Amount of damage (detailed)`, `Effect: Impact to flight`, `Cost: Aircraft time out of service (hours)`, and `Cost: Total $`.

### Section 2: Wrangling and Tidying the Data<a id="tidy"></a>

In [4]:
# Split date and time
# Split date into month, day, and year


# All dates and times
collision_dates = strikes_0["Collision Date and Time"].str.split(" ").str[0]
collision_times = strikes_0["Collision Date and Time"].str.split(" ").str[1]

# Date split into month, day, year
collision_date_months = collision_dates.str.split("/").str[0]
collision_date_days = collision_dates.str.split("/").str[1]
collision_date_years = collision_dates.str.split("/").str[2]

# Define columns
strikes_0["Collision Month"] = collision_date_months
strikes_0["Collision Day"] = collision_date_days
strikes_0["Collision Year"] = collision_date_years
strikes_0["Collision Time"] = collision_times
# strikes_0.head()

In [5]:
# Select and order columns of interest

strikes_1 = strikes_0[["Record ID", "Number of Strikes", \
                       "Collision Month", "Collision Day", \
                       "Collision Year", "Collision Time", \
                   "Aircraft: Type", "Aircraft: Number of engines", \
                   "Airport: Code", "Airport: Name", \
                   "Origin State Code", "When: Phase of flight", \
                   "Feet above ground", "Miles from airport", \
                   "Wildlife: Animal Category", "Wildlife: Species", \
                   "Effect: Amount of damage (detailed)", "Effect: Impact to flight", \
                   "Cost: Aircraft time out of service (hours)", "Cost: Total $"]]
strikes_1.head()

,Record ID,Number of Strikes,Collision Month,Collision Day,Collision Year,Collision Time,Aircraft: Type,Aircraft: Number of engines,Airport: Code,Airport: Name,Origin State Code,When: Phase of flight,Feet above ground,Miles from airport,Wildlife: Animal Category,Wildlife: Species,Effect: Amount of damage (detailed),Effect: Impact to flight,Cost: Aircraft time out of service (hours),Cost: Total $
0,17459,1,9,20,2012,19:30,NaN,NaN,AAF,APALACHICOLA REGIONAL ARPT,FL,Take-off run,0.0,NaN,Terrestrial Mammals,Domestic dog,None,None,NaN,0
1,17114,1,4,23,2013,17:09,Airplane,1.0,AAF,APALACHICOLA REGIONAL ARPT,FL,Take-off run,NaN,NaN,Birds,"Herons, egrets, bitterns",None,None,NaN,0
2,259361,1,4,23,2009,9:22,Airplane,2.0,ABE,LEHIGH VALLEY INTL,PA,Take-off run,0.0,0.0,Birds,American kestrel,Medium,Aborted Take-off,720.0,171132
3,345167,1,4,13,2014,22:00,Airplane,2.0,ABE,LEHIGH VALLEY INTL,PA,Approach,NaN,NaN,Birds,Mourning dove,None,None,15.0,600
4,262782,1,3,31,2009,18:15,Airplane,2.0,ABE,LEHIGH VALLEY INTL,PA,Approach,NaN,0.0,Birds,Red-tailed hawk,Medium,None,12.0,188245

In [6]:
# Save data

strikes_1.to_csv("./datasets/airplane_wildlife_strikes_clean.csv")
strikes = strikes_1

In [7]:
# P.S. There are no noontime strikes :/

for time in strikes["Collision Time"]:
    x = re.search('12:', time)  
    if x:
        print(time)

***Note:*** This dataset reports zero strikes 12:00-12:59pm. This is unlikely, since airplanes fly (and thus strike!) at all hours of the day. Given the surprising number of midnight strikes, the data most likely misreports noontime strikes as midnight strikes, skewing the reported collision times toward midnight.

### Section 3: Defining Questions for Analysis<a id="questions"></a>

* How many strikes occured in total?
    * How many strikes occured per year?
* Where and when do strikes occur?
    * Which phase of flight?
    * How many feet above ground?
    * How many miles from the airport?
    * Which times of day or periods of the year?
    * Which airports and states?
* What kinds of animals are affected by strikes?
* How often do strikes damage the planes?
    * What kinds of damage do they incur?
* How much to strikes cost the air travel industry per year?
    * What is the total cost?
    * How many hours and how much money?
    * What percentage of strikes cost the airline?

### Section 4: Answering Some Questions<a id="answers"></a>

#### How many strikes occured in total?

In [8]:
# Calculate and report total strikes

total_strikes = strikes.shape[0]
print("Between 2000 and 2015, {} wildlife strikes occured.".format(total_strikes))

Between 2000 and 2015, 28298 wildlife strikes occured.

In [9]:
# How many strikes occured per year?

yearly_sum = strikes.groupby(["Collision Year"]).sum("Number of Strikes")
yearly_sum.head(16)

,Record ID,Number of Strikes,Aircraft: Number of engines,Feet above ground,Miles from airport,Cost: Aircraft time out of service (hours),Cost: Total $
Collision Year,,,,,,,
2000,162434525,853,1504.0,203499.0,132.000000,11015.0,11881979
2001,169093199,898,1575.0,241660.0,69.000000,7978.0,32837429
2002,199371029,1043,1766.0,283786.0,113.000000,19670.0,20189128
2003,206783085,1056,1819.0,277023.0,104.600000,13079.0,11309831
2004,256157421,1278,2174.0,305514.0,74.750000,21288.5,14965237
2005,264682666,1266,2172.0,331624.0,165.200000,6598.0,19724781
2006,318495807,1522,2527.0,300061.0,135.500000,8101.0,20434778
2007,356308154,1490,2764.0,355378.0,197.600000,26077.0,14064677
2008,377272225,1562,2858.0,350044.0,359.900000,10522.0,14314884
2009,553143488,2218,3955.0,550342.0,674.750000,14398.0,66649202
2010,732717582,2416,4620.0,725201.0,1081.050000,15126.0,7897771
2011,787016805,2612,5000.0,812993.0,1152.550000,13942.0,37444217
2012,885704287,2924,5500.0,1031147.0,1556.350000,22434.0,13046167
2013,957146393,2971,5633.0,1116770.0,1621.900000,40341.0,9462905
2014,1132298325,3288,6331.0,1192564.0,1426.900001,15101.5,18254308
2015,323556312,901,1760.0,350201.0,546.300000,2605.0,9683593

In [10]:
# Which months are recorded for 2015?

strikes_in_2015 = strikes[strikes["Collision Year"] == '2015']
strikes_in_2015["Collision Month"].unique()

array(['1', '2', '5', '3', '4'], dtype=object)

***Note***: Since only 5 months are recorded for 2015, I will remove this year when visualizing strikes per year.

#### Where and when do strikes occur?

In [11]:
# Which phase of flight?

flight_phase_values = strikes["When: Phase of flight"].value_counts()
flight_phase_values.head()

Approach        9625
Landing Roll    7527
Take-off run    6579
Climb           3402
Descent          250
Name: When: Phase of flight, dtype: int64

Most strikes occur on approach, although all strikes occur in the overall taking off and landing phases.

In [12]:
# How many feet above ground?

feet_above_ground_values = strikes["Feet above ground"].value_counts()
feet_above_ground_values.head()

0.0      14106
50.0      1246
100.0     1123
10.0       853
200.0      688
Name: Feet above ground, dtype: int64

The overwhelming majority of strikes occur while the aircraft is on the ground.

In [13]:
# How many miles from the airport?

miles_from_airport_values = strikes["Miles from airport"].value_counts()
miles_from_airport_values.head()

0.0    18207
1.0      295
5.0      187
2.0      170
3.0      169
Name: Miles from airport, dtype: int64

The overwhelming majority of strikes occur at the airport itself.

#### How much to strikes cost the air travel industry per year?

In [18]:
# What is the total cost?
total_dollar_cost = strikes["Cost: Total $"].sum()
print("Wildlife strikes cost the U.S. airline industry a total of ${} between 2000 and 2015."\
      .format(total_dollar_cost))

total_hours_cost = strikes["Cost: Aircraft time out of service (hours)"].sum()
print("Wildlife strikes cost the U.S. airline industry a total of {} flight service hours \
between 2000 and 2015.".format(total_hours_cost))

Wildlife strikes cost the U.S. airline industry a total of $322160887 between 2000 and 2015.
Wildlife strikes cost the U.S. airline industry a total of 248276.0 flight service hours between 2000 and 2015.

In [19]:
# How many hours and how much money?

yearly_cost_hours_mean = np.round(yearly_sum["Cost: Aircraft time out of service (hours)"].mean(), 2)
yearly_cost_dollars_mean = np.round(yearly_sum["Cost: Total $"].mean(), 2)

print("Wildlife strikes cost U.S. airlines \
an average of {} hours of aircraft time and ${} per year."\
      .format(yearly_cost_hours_mean, yearly_cost_dollars_mean))

Wildlife strikes cost U.S. airlines an average of 15517.25 hours of aircraft time and $20135055.44 per year.

In [25]:
# What percentage of strikes cost the airline?

cost = strikes[strikes["Cost: Total $"] != 0]
no_cost = strikes[strikes["Cost: Total $"] == 0]
cost_percentage = np.round(no_cost.shape[0] / total_strikes * 100, 2)

print("{}% of strikes are costly to airlines.".format(cost_percentage))

94.71% of strikes are costly to airlines.

### Section 6: Transitioning to Tableau Public<a id="tableau"></a>

It's time to take these data to Tableau Public for some [*interactive visualizations!*](https://public.tableau.com/app/profile/leahmfulmer/viz/AirplaneWildlifeStrikes_17192619610850/AirplaneWildlifeStrikes)